<div class="main">
  <label style="font-size: 50px;text-align: center;position: relative;margin-left: 50px;">
    List Sách
  </label>
  <br>
  <a href="addsach">Thêm mới Sách</a>
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">Mã sản phẩm</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Số lượng</th>
      <th scope="col">Đơn giá</th>
      <th scope="col">Đơn vị</th>
      <th scope="col">Mã Danh Mục Sách</th>
      <th scope="col">Nhà Xuất Bản</th>
      <th scope="col">Năm xuất bản</th>
      <th scope="col">Tác giả</th>
      <th scope="col">Lần tái bản</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sach of sachs">
      <td >{{sach.maSP}}</td>
      <td >{{sach.tenSP}}</td>
      <td >{{sach.soLuong}}</td>
      <td >{{sach.donGia}}</td>
      <td >{{sach.donVi}}</td>
      <td >{{sach.maDanhMucSach}}</td>
      <td >{{sach.nhaXuatBan}}</td>
      <td >{{sach.namXuatBan}}</td>
      <td >{{sach.tacGia}}</td>
      <td >{{sach.lanTaiBan}}</td>
      <td>
        <a href="" class="btn btn-sm btn-primary">Edit</a>
        <a href="" class="btn btn-sm btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<style>
</style>
