
<div class="main">
  <label style="font-size: 50px;text-align: center;position: relative;margin-left: 50px;">
    Thêm mới Chi Tiết Đơn Hàng
  </label>
  <br>
  <a  style="cursor: pointer;margin-left: 50px" href="chitietdonhang" >List Chi Tiết Đơn Hàng</a>
  <form action="#" method="post">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Mã Đơn Hàng</label>
        <input type="text" class="form-control"  placeholder="Mã Đơn Hàng">
      </div>
      <div class="form-group col-md-6">
        <label>Mã Khách Hàng</label>
        <input type="text" class="form-control"  placeholder="Mã Khách Hàng">
      </div>
    </div>
    <div class="form-group">
      <label>Số Lượng</label>
      <input type="number" class="form-control"  placeholder="Số Lượng">
    </div>

    <button type="submit" class="btn btn-primary">Thêm</button>
  </form>
</div>
<style>
  form{
    margin: 10px 40px 40px 40px;
  }
  body{
    margin: 20px 50px 0px 50px;
  }

  table{
    border-style: double;
    border-style: inset;
  }
</style>

