
<div class="main">
  <label style="font-size: 50px;text-align: center;position: relative;margin-left: 50px;">
    Thêm mới Sách
  </label>
  <br>
  <a  style="cursor: pointer;margin-left: 50px" href="dochoi" >List Đồ chơi</a>
  <form action="#" method="post">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Mã Đồ Chơi</label>
        <input type="text" class="form-control"  placeholder="Mã đồ chơi">
      </div>
      <div class="form-group col-md-6">
        <label>Tên sản phẩm</label>
        <input type="text" class="form-control"  placeholder="Tên đồ chơi">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Số lượng</label>
        <input type="text" class="form-control"  placeholder="Số lượng">
      </div>
      <div class="form-group col-md-6">
        <label>Đơn giá</label>
        <input type="text" class="form-control"  placeholder="Đơn giá">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Đơn vị</label>
        <input type="text" class="form-control"  placeholder="Đơn vị">
      </div>
      <div class="form-group col-md-6">
        <label>Mã Danh Mục Đồ Chơi</label>
        <input type="text" class="form-control"  placeholder="Mã danh mục đồ chơi">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Xuất sứ</label>
        <input type="text" class="form-control"  placeholder="Xuất xứ">
      </div>
      <div class="form-group col-md-6">
        <label>Thương hiệu</label>
        <input type="text" class="form-control"  placeholder="Thương hiệu">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nhà cung cấp</label>
        <input type="text" class="form-control"  placeholder="Nhà cung cấp">
      </div>
      <div class="form-group col-md-6">
        <label>Hướng dẫn</label>
        <input type="text" class="form-control"  placeholder="Hướng dẫn">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
  </form>
</div>
<style>
  form{
    margin: 10px 40px 40px 40px;
  }
  body{
    margin: 20px 50px 0px 50px;
  }

  table{
    border-style: double;
    border-style: inset;
  }
</style>



