<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@{/khachhang}">Khách Hàng <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sản phẩm
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Sách</a>
                    <a class="dropdown-item" href="#">Đồ chơi</a>
                    <a class="dropdown-item" href="#">Dụng cụ</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<label style="font-size: 50px;text-align: center;position: relative;margin-left: 50px;">
    List Khách Hàng
</label>
<br>
<a th:href="@{/khachhang/create}">Thêm mới khách hàng</a>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">Mã khách hàng</th>
        <th scope="col">Họ tên</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Email</th>
        <th scope="col">Ngày sinh</th>
        <th scope="col">Mã loại</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item:${listkh}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.tenKhachHang}"></td>
        <td th:text="${item.soDienThoai}"></td>
        <td th:text="${item.email}"></td>
        <td th:text="${item.ngaySinh}"></td>
        <td th:text="${item.maLoai}"></td>
        <td th:text="${item.diaChi}"></td>
        <td>
            <a th:href="@{/khachhang/edit/}+${item.id}" class="btn btn-sm btn-primary">Edit</a>
            <a th:href="@{/khachhang/delete/}+${item.id}" class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/khachhang'(page=${listkh.number - 1})}" th:if="${listkh.hasPrevious()}">Previous</a>
    <span th:text="${listkh.number + 1}"></span>/<span th:text="${listkh.totalPages}"></span>
    <a th:href="@{'/khachhang'(page=${listkh.number + 1})}" th:if="${listkh.hasNext()}">Next</a>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>